.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f3f8f4; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #2e5939; 
    text-align: center;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.article-detail.on-sale {
    border: 2px solid #60bb77; 
    box-shadow: 0 4px 12px #2e593958;
}
  
.article-detail.on-sale h3 {
    color: #2e5939; 
}