<div class="products-container">
  <h2>Lista de artículos</h2>
  <div *ngFor="let article of articles$ | async; trackBy: trackById"> 
    <!-- Quito del componente list el botón de eliminar el producto para que pueda estar dentro del card
     <button (click)="deleteArticle(article)">Eliminar producto</button> 
     --> 

    <app-article-item 
      [article]="article" 
      (delete)="deleteArticle(article)" 
      (quantityChange)="onQuantityChange($event)">
      <!-- Añado el evento quantityChange -->
    </app-article-item>
  </div>
</div>
 