/* Contenedor general */
.products-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
    padding: 16px;
    background-color: transparent;
  }

/* Estilo para el artículo */
.article-item {
    display:flex;
    flex-direction: column;
    width:250px;
    height: 450px;
    border: 1px solid #000000;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 15px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.621);
}

.article-name {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding: 20px;
    background-color: #b771e5cb;
    color: #16404D;
    border-radius: 15px 15px 0px 0px;

}

.img-article {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    margin-top: 0;  
    flex-grow: 0; 
    align-self: stretch; 
    background-image: url('../../../assets/images/default-image.jpg'); /*Lo pongo por testear hasta que solucione las rutas del servidor*/
}

.price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100px;
    font-size: 1.1rem;
    padding: 5px;
    margin: 0;
    justify-content: center;
    align-content: start;
    align-items: start;
    color: #16404D;
    font-weight: 500;

}
.actions {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Sección de cantidad */
.article-item-quantity {
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.article-item-quantity button {
    background-color: #4635B1;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.article-item-quantity button:disabled {
    background-color: #666363;
    cursor: not-allowed;
}

.article-item-quantity p {
    margin: 0 10px;
    font-size: 1.2rem;
}

/* Cuando el producto está en stock */
.article-item.in-stock {
    background-color: #e0f7e0; 
    border-color: #4caf50; 
}

/* Cuando el producto está agotado */
.article-item.out-of-stock {
    background-color: #f8d7da; 
    border-color: #dc3545; 
}

/* Efecto al pasar el ratón sobre el artículo */
.article-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-product{
    border-color:  #ff0015; 
    cursor: pointer;
    border-radius: 5px;
}
.delete-product:hover {
    background-color: #ff0015; 
    color: white;
}