.gradient-custom {
    /* fallback for old browsers */
    background: #d5eb90b9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #d5eb90b9(39, 203, 17, 0.649), rgb(192, 225, 83));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #d5eb90b9(39, 203, 17, 0.649), rgb(192, 225, 83));
    }